0.0.0.0:11013 {
  tls /root/cert.pem /root/key.pem
  proxy /api lairapi:11015
  proxy / lair:11014 {
    websocket
  }
}

0.0.0.0:11012 {
  proxy /api lairapi:11015
  proxy / lair:11014 {
    websocket
  }
}